@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Diphylleia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: white;
}
ul,
ol {
  list-style: none;
}
button {
  border: none;
}

a {
  display: inline-block;
  text-decoration: none;
}
/* 
.swiper-button-prev {
  background-color: red !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next {
  background-color: red !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
} */
